/* hero container styling */

.hero-image-container {
    position: relative;
    width: 100%;
    height: 33em;
    background: url('../media/kids-hero-image.jpg') white;
    background-size: auto 33em;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-text-container {
    position: absolute;
    width: 92%;
    height: 80px;
    background: url('../media/hero-text.png');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    margin: -40px auto 0 auto;
    right: 0px;
    left: 0px;
}

/* hero container styling */


/* NutritionFacts container styling */

.nutrition-facts-outer-container {
    position: relative;
    display: table;
    width: 62%;
    margin: 0px auto;
    border: 2px solid rgba(255, 255, 255, 0.85);
}
.nutrition-facts-inner-wrapper {
    display: table;
    width: 90%;
    margin: 0px auto;
}

.nutrition-title-container {
    display: table;
    width: 100%;
    margin-top: 3vh;
}

.nutrition-title-container p {
    font-family: helvetica;
    font-weight: 800;
    font-size: 5vw;
    text-align: center;
    margin: 0px;
}

.nutrition-serving-size-container {
    display: table;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.nutrition-serving-size-container p {
    font-size: 1.7vw;
    font-family: helvetica;
    font-weight: 100;
    margin: 0px;
}

.thickline-1 {
    display: table;
    width: 100%;
    height: 1.5vw;
    background: white;
}

.nutrition-amount-per-serving-contianer {
    display: table;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 1vh;
}

.nutrition-amount-per-serving-contianer p {
    margin: 0px;
    font-family: helvetica;
    font-size: 1.5vw;
    font-weight: 600;
}

.thinline-1 {
    display: table;
    width: 100%;
    height: 0.2vw;
    background: white;
}

.nutrition-calories-container {
    display: table;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.nutrition-calories-container p {
    margin: 0px;
    font-family: helvetica;
    font-weight: 600;
    font-size: 2.3vw;
}

.thickline-2 {
    display: table;
    width: 100%;
    height: 0.4vw;
    background: white;
}

.nutrition-daily-values {
    display: table;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 1.1vw;
}

.nutrition-daily-values p {
    float: right;
    margin: 0px;
    font-family: helvetica;
    font-weight: 700;
    font-size: 1.3vw;
}

span.soften-number {
    font-weight: 100;
}

/* actual skill item */ 
.nutrition-type-container {
    display: table;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.nutrition-type-container
 p {
    display: table;
    font-family: helvetica;
    font-size: 2.3vw;
    margin: 0px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 1vh;
}

span.type-name-span {
    float: left;
}

span.type-percentage-span {
    float: right;
}

.nutrition-end-label {
    display: table;
    width: 100%;
    margin: 3vh 0vh;
}

.nutrition-end-label p {
    text-align: center;
    font-size: 1.5vw;
    font-family: helvetica;
    font-weight: 100;
    margin: 0px;
}

/* actual skill item */


/* nested skill item */
.nutrition-inner-type-wrapper {
    width: 91%;
    float: right;
}

.nutrition-inner-type-container {
    display: table;
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.nutrition-inner-type-container p {
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 1vh;
}
/* nested skill item */
.nutrition-table-outer-container {
    position: relative;
    display: table;
    width: 100%;
    margin: 0px auto;
}



/* NutritionFacts container styling */
.about-wrapper-parent {
    background: #e6af4b;
}
.about-text-container {
    display: table;
    width: 71%;
    margin: 0px auto;
    text-align: justify;
    margin-top: 5vh;
}

.about-section-wrapper {
    display: table;
    width: 74%;
    color: white;
    margin: 0px auto;
    padding-top: 14vh;
    padding-bottom: 7vh;
}

.about-text-container p {
    font-family: helvetica;
    color: white;
    font-size: 1.6vw;
    line-height: 2.8vw;
    font-weight: 200;
}

span.about-a-note {
    display: table;
    font-weight: 600;
    font-family: helvetica;
    font-size: 3vw;
    padding-top: 2vh;
    margin: 0px auto;
    margin-bottom: 3vh;
    text-align:center;
}
span.side-text-title {
    font-size: 2vw;
}

/* get in touch section */
 

 .contact-form-wrapper {
    background: #e9ece5;
}

.contact-form-wrapper p {
    margin: 0px;
    color: #e6af4b;
    font-family: helvetica;
    font-size: 3vw;
    padding: 9vh 0 1vh 0;
    font-weight: 700;
    text-align: center;
}

.contact-form-wrapper form {
    display: table;
    margin: 0px auto;
    width: 41%;
    position: relative;
}

input.input_email , input.input_name {
    display: table;
    width: 91%;
    padding: 1vw;
    margin: 0px auto;
    outline: none;
    border: 0px;
    margin-bottom: 2vh;
}

textarea.input_message {
    width: 91%;
    outline: none;
    padding: 1vw;
    margin: 0px auto;
    border: 0px;
    position: relative;
    display: block;
}

.contact-form-wrapper form button {
    display: table;
    margin: 3vh auto;
    padding: 0.8vw 2vw;
    font-family: helvetica;
    background: #e6af4b;
    outline: none;
    color: white;
    border: 0px;
    cursor: pointer;
}

p.message_sent {margin: 0px;color: rgba(111, 111, 111, 0.82);font-family: helvetica;font-size: 1.4vw;0font-weight: 500;padding: 0;text-shadow: 0px 0px 10px #a0a0a0;font-weight: 500;margin-bottom: 3vh;text-align: center;}

p.error_sent {
    margin: 0px;
    color: rgba(255, 0, 0, 0.84);
    font-family: helvetica;
    font-size: 1.3vw;
    padding: 0;
    font-weight: 500;
    margin-bottom: 2vh;
    text-align: center;
}

/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */

@media only screen and (max-width: 768px) {
/* hero text */

.hero-text-container {
    position: absolute;
    width: 75%;
    height: 80px;
    background: url(../media/hero-text.png);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    margin: -40px auto 0 auto;
    right: 0px;
    left: 0px;
}
/* hero text */ 

/* NutritionFacts container styling */

.nutrition-facts-outer-container {
    position: relative;
    display: table;
    width: 96%;
    margin: 0px auto;
    border: 2px solid rgba(255, 255, 255, 0.85);
}
.nutrition-facts-inner-wrapper {
    display: table;
    width: 90%;
    margin: 0px auto;
}

.nutrition-title-container {
    display: table;
    width: 100%;
    margin-top: 2vh;
}

.nutrition-title-container p {
    font-family: helvetica;
    font-weight: 800;
    font-size: 7.3vw;
    text-align: center;
    margin: 0px;
}

.nutrition-serving-size-container {
    display: table;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.nutrition-serving-size-container p {
    font-size: 3vw;
    font-family: helvetica;
    font-weight: 100;
    margin: 0px;
}

.thickline-1 {
    display: table;
    width: 100%;
    height: 1.5vw;
    background: white;
}

.nutrition-amount-per-serving-contianer {
    display: table;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.nutrition-amount-per-serving-contianer p {
    margin: 0px;
    font-family: helvetica;
    font-size: 2.7vw;
    font-weight: 600;
}

.thinline-1 {
    display: table;
    width: 100%;
    height: 0.2vw;
    background: white;
}

.nutrition-calories-container {
    display: table;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.nutrition-calories-container p {
    margin: 0px;
    font-family: helvetica;
    font-weight: 600;
    font-size: 4vw;
}

.thickline-2 {
    display: table;
    width: 100%;
    height: 0.4vw;
    background: white;
}

.nutrition-daily-values {
    display: table;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2.1vw;
}

.nutrition-daily-values p {
    float: right;
    margin: 0px;
    font-family: helvetica;
    font-weight: 700;
    font-size: 2.5vw;
}

span.soften-number {
    font-weight: 100;
}

/* actual skill item */ 
.nutrition-type-container {
    display: table;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.nutrition-type-container
 p {
    display: table;
    font-family: helvetica;
    font-size: 4vw;
    margin: 0px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 1vh;
}

span.type-name-span {
    float: left;
}

span.type-percentage-span {
    float: right;
}

.nutrition-end-label {
    display: table;
    width: 100%;
    margin: 3vh 0vh;
}

.nutrition-end-label p {
    text-align: center;
    font-size: 2.43vw;
    font-family: helvetica;
    font-weight: 100;
    margin: 0px;
}

/* actual skill item */


/* nested skill item */
.nutrition-inner-type-wrapper {
    width: 91%;
    float: right;
}

.nutrition-inner-type-container {
    display: table;
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.nutrition-inner-type-container p {
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 1vh;
}
/* nested skill item */
.nutrition-table-outer-container {
    position: relative;
    display: table;
    width: 100%;
    margin: 0px auto;
}



/* NutritionFacts container styling */

.about-text-container {
    display: table;
    width: 88%;
    margin: 0px auto;
    text-align: justify;
    margin-top: 5vh;
}

.about-section-wrapper {
    display: table;
    width: 74%;
    color: white;
    margin: 0px auto;
    padding-top: 9vh;
    padding-bottom: 7vh;
}

.about-text-container p {
    font-family: helvetica;
    color: white;
    font-size: 3.2vw;
    line-height: 4.8vw;
    font-weight: 200;
}

span.about-a-note {
    display: table;
    font-weight: 600;
    font-family: helvetica;
    font-size: 5vw;
    padding-top: 2vh;
    margin: 0px auto;
    margin-bottom: 3vh;
    text-align:center;
}

/* contact form in mobile */
.contact-form-wrapper p {
    margin: 0px;
    color: #e6af4b;
    font-family: helvetica;
    font-size: 7vw;
    padding: 9vh 0 1vh 0;
    font-weight: 700;
    text-align: center;
}

p.message_sent {
    margin: 0px;
    color: rgba(111, 111, 111, 0.82);
    font-family: helvetica;
    font-size: 3vw;
    padding: 0;
    text-shadow: 0px 0px 10px #a0a0a0;
    font-weight: 500;
    width: 44%;
    text-align: center;
    margin: 0px auto 3vh auto;
}

.contact-form-wrapper form {
    display: table;
    margin: 0px auto;
    width: 64%;
    position: relative;
}

input.input_email, input.input_name {
    display: table;
    width: 91%;
    padding: 3vw 1.4vw;
    margin: 0px auto;
    outline: none;
    border: 0px;
    margin-bottom: 2vh;
}

textarea.input_message {
    width: 91%;
    outline: none;
    padding: 3vw 1.4vw;
    margin: 0px auto;
    border: 0px;
    position: relative;
    display: block;
}

.contact-form-wrapper form button {
    display: table;
    margin: 3vh auto;
    padding: 2.8vw 5vw;
    font-family: helvetica;
    background: #e6af4b;
    outline: none;
    color: white;
    border: 0px;
    cursor: pointer;
}


p.error_sent {
    margin: 0px;
    color: rgba(255, 0, 0, 0.84);
    font-family: helvetica;
    font-size: 3.3vw;
    padding: 0;
    font-weight: 500;
    text-align: center;
    width: 53%;
    margin: 0 auto 2vh auto;
}

}
button.disabled_button {
    opacity: 0.6;
}
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */




